{% extends 'main/222.html' %}

{% block title %}UK{% endblock %}

{% block content %}
 <div class="features">
   <h1>Next</h1>
   <p>Тег используется для размещения контента, который не является главным, но связан с основным контентом на странице. Обычно это боковая колонка с информацией, например, баннеры, навигационные ссылки, блоки социальных сетей или реклама. Также в боковых колонках часто размещают списки рекомендуемых статей</p>
   <button class="btn btn-danger">Put</button>
   </div>
{% endblock %}
